@media screen and (min-width: 800px) {
    
    /* Alterado de 'h1' para '.logo-area h1' para garantir que o CSS antigo não ignore esta regra */
    .logo-area h1 {
        font-size: 2.2rem; /* Ajustado de 500% para cerca de 220% para o título não cobrir o menu inteiro */
        color: #d1c582;
        background-color: rgb(185, 189, 131);
        padding: 2px 8px;   /* Adicionado para dar um respiro entre o texto e a nova cor de fundo */
        border-radius: 4px; /* Arredonda levemente os cantos do fundo */
    }
}